/* .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
*/
:root {
  --white-color: #fff;
  --blue-color: #4070f4;
  --grey-color: #707070;
  --grey-color-light: #aaa;
  --button-bg-light: #000000;
  --button-text-light: #ffffff;
}
body.dark {
  --white-color: #333;
  --blue-color: #fff;
  --grey-color: #f2f2f2;
  --grey-color-light: #aaa;
  --button-bg-light: #ffffff;
  --button-text-light: #000000;
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }

  .bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }

  /*.showPasswordToggle{
    cursor: pointer;
  }*/
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

/* Add more styles here */

.showPasswordToggle {
    cursor: pointer;
    transform: scale(1.2);
}
.container{
  padding-right: 45px;
  padding-left: 75px;
  margin-right: auto;
  margin-left: auto;
}
.breadcrumb {
  padding: 8px 75px;
  background-color: var(--white-color);
}
canvas{
  display: block;
  height: 300px;
  width: 300px;
}
.search_bar input {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  font-size: 18px;
  outline: none;
  background-color: var(--white-color);
  color: var(--grey-color);
  border: 1px solid var(--grey-color-light);
  padding: 0 20px;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-secondary :hover{
  color: var(--grey-color);
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: var(--white-color);
  color: var(--grey-color);
  border: 1px solid var(--grey-color-light);
  background-image: none;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: var(--grey-color);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}
.form-group label{
  color: var(--grey-color);
}
.breadcrumb-item a{
  color: var(--grey-color);
} 
table {
  color: var(--grey-color);
}
th td{
  color: var(--grey-color);
}
.page{
  color: var(--grey-color);
}
#inputGroupSelect04{
  height: 100%;
  width: 100%;
  font-size: 18px;
  outline: none;
  border-radius: 14px;
  background-color: var(--white-color);
  color: var(--grey-color);
  padding: 0 20px;
}
.input-group-append{
  padding-top: 20px;
}
.center-paragraph{
  padding-top: 10px;
  padding-left: 75px;
  height: 100%;
  font-size: 20px;
  color: var(--grey-color);
}
h2{
  padding-left: 75px;
  color: var(--grey-color);
}
h1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  color: var(--grey-color);
}
.dropdown{
  padding-left: 75px;
}
.inapp{
  padding-left: 75px;
}

.submit-btn {
  margin-top: 15px; 
  margin-bottom: 15px;
}
#username{
  font-size: 20px;
  color: var(--grey-color);
}

.wrapper{
  padding-left: 75px;
}
.btn-dark{
  background-color: var(--button-bg-light);
  color: var(--button-text-light);
  width: 80px;
  height: 35px;
  text-align: center;
}
.light-mode {
  background-color: var(--button-bg-light);
  color: var(--button-text-light);
  width: 80px;
  height: 35px;
  text-align: center;
}
.home {
  max-width: 960px;
  margin-top: 200px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}
.card-body h4{
  text-align: center;
  align-items: center;
  font-size: 30px;
  color:var(--blue-color) ;
}